:root {
  --short_bread: #fbe790;
  --overall_blue: #86bdfd;
  --desc_gray: #808080;
  --title: 36px;
  --prod_desc: 12px;
  --semi-bold: 600;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-weight: var(--semi-bold);
}
